/* ---GLOBAL STYLES--- */
* {
  margin: 0 auto;
}

.success {
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgb(149, 224, 121);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.success:empty {
  display: none;
}

.error {
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgb(245, 101, 101);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error:empty {
  display: none;
}

.container {
  background-image: url("../assets/img/carsbackground.jpg");
  background-size: cover;
  margin-bottom: 40px;
  height: 100vh;
}

/* ---FORMS--- */
.container form {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  min-width: 200px;
  border: 4px solid black;
  border-radius: 2%;
  background-image: linear-gradient(
    to bottom right,
    rgb(221, 255, 249),
    rgb(39, 136, 116)
  );
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container form#databaseForm {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  min-width: 300px;
  border: 4px solid black;
  border-radius: 2%;
  background-image: linear-gradient(
    to bottom right,
    rgb(221, 255, 249),
    rgb(39, 136, 116)
  );
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bottom-btn {
  border: #000000 1px solid;
  margin-bottom: 10px;
}

/*  The switch - the box around the slider  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  font-style: italic;
  border: #000000 solid 2px;
  border-radius: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  padding-top: -40px;
}

/* The slider */
.slider {
  position: absolute;
  padding-top: 22px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(104, 139, 243);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  padding-top: 25px;
  content: "km";
  height: 23px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: rgb(54, 54, 54);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d6c937;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "mi";
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 10px;
}

/* User Dashboard Table */
.listings {
  border: 5px solid gray;
  margin-bottom: 55px;
  background-color: rgb(253, 251, 247);
}

.listings > tbody > tr > td,
.listings > thead > tr > th {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 10px 10px 10px 10px;
}

td {
  text-shadow: #595959 0.4px 0.3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th#empty {
  background-color: gray;
}

button#edit-car {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #50abe9;
  box-shadow: 2px 2px gray;
}

button#edit-car > a {
  color: black;
  padding: 5px;
}

button#edit-car > a:active {
  box-shadow: none;
}

button#edit-car > a:hover {
  color: white;
}

button#delete-car,
button#delete-report {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(245, 101, 101);
  box-shadow: 2px 2px gray;
}

button#delete-car a,
button#delete-report a {
  color: black;
  padding: 5px;
}

button#delete-car a:hover,
button#delete-report a:hover {
  color: white;
}

button#delete-car a:active,
button#delete-report a:active {
  box-shadow: none;
}

button#contact {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #45df18;
  box-shadow: 2px 2px gray;
}

button#contact a {
  color: black;
  padding: 5px;
}

button#contact a:hover {
  color: white;
}

button#edit-report {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #50abe9;
  box-shadow: 2px 2px gray;
}

button#edit-report > a {
  color: black;
  padding: 5px;
}

button#edit-report > a:active {
  box-shadow: none;
}

button#edit-report > a:hover {
  color: white;
}

button#generate-report,
input#generate-report {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #69c712;
  box-shadow: 2px 2px gray;
}

button#generate-report a {
  color: black;
  padding: 5px;
}

button#generate-report a:hover,
input#generate-report:hover {
  color: white;
}

button#generate-report a:active,
input#generate-report:active {
  box-shadow: none;
}

.foot {
  background-color: rgb(233, 233, 233);
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bolder;
}

.notreg {
  border: #000000 1.5px solid;
  padding: 2px 2px;
  margin-bottom: 3px;
  width: fit-content;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px whitesmoke;
}

.registermessage {
  border: #000000 1.5px solid;
  padding: 2px 2px;
  margin-bottom: 3px;
  width: fit-content;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px whitesmoke;
}

.addcarMsg {
  border: #000000 1.5px solid;
  padding: 2px 2px;
  margin-bottom: 3px;
  width: fit-content;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px whitesmoke;
}

button#back-b {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #2291db;
  box-shadow: 2px 2px gray;
}

button#back-b a {
  color: black;
  padding: 5px;
}

button#back-b a:hover {
  color: white;
}

button#back-b a:active {
  box-shadow: none;
}

button#exportCSV {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #e4d66a;
  box-shadow: 2px 2px gray;
}

button#exportCSV a {
  color: black;
  padding: 5px;
}

button#exportCSV a:hover {
  color: white;
}

button#exportCSV a:active {
  box-shadow: none;
}
