/* ---GLOBAL STYLES--- */
* {
  margin: 0 auto;
}

.success {
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgb(149, 224, 121);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.success:empty {
  display: none;
}

.error {
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgb(245, 101, 101);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error:empty {
  display: none;
}

.container {
  background-color: #b4eafd;
}

/* ---FORMS--- */
.container form {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300;
  min-width: 200;
  border: 4px solid black;
  background-color: rgb(215, 215, 215);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*  The switch - the box around the slider  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  font-style: italic;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  padding-top: -40px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(170, 189, 248);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "km";
  height: 26px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(225, 228, 228);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c3d032;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "mi";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* User Dashboard Table */
.listings {
  border: 5px solid gray
}

.listings > tbody > tr > td, .listings > thead > tr > th {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 5px 10px 5px 10px;
}

th#empty {
  background-color: gray;
}

button#edit-car {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #50abe9;
  box-shadow: 2px 2px gray;
}

button#edit-car > a {
  color: black;
  padding: 5px;
}

button#edit-car > a:active {
  box-shadow: none;
}

button#edit-car > a:hover {
  color: white;
}

button#delete-car {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #c71212;
  box-shadow: 2px 2px gray;
}

button#delete-car a {
  color: black;
  padding: 5px;
}

button#delete-car a:hover {
  color: white;
}

button#delete-car a:active {
  box-shadow: none;
}

button#contact {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #45df18;
  box-shadow: 2px 2px gray;
}

button#contact a {
  color: black;
  padding: 5px;
}

button#contact a:hover {
  color: white;
}

button#edit-report{
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #50abe9;
  box-shadow: 2px 2px gray;
}

button#edit-report > a {
  color: black;
  padding: 5px;
}

button#edit-report > a:active {
  box-shadow: none;
}

button#edit-report > a:hover {
  color: white;
}

button#delete-report {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #c71212;
  box-shadow: 2px 2px gray;
}

button#delete-report a {
  color: black;
  padding: 5px;
}

button#delete-report a:hover {
  color: white;
}

button#delete-report a:active {
  box-shadow: none;
}

